[Unit]
Description=connect rfswitch USB to websocat-rfswitch
After=network.target session.service websocat-rfswitch.service
Wants=session.service websocat-rfswitch.service

[Service]
Restart=on-failure
RestartSec=5s
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/socat-rfswitch

[Install]
WantedBy=multi-user.target
