[Unit]
Description=vna data service
After=network.target relay.service 
Wants=session.service 

[Service]
Restart=on-failure
RestartSec=5s
ExecStartPre=/bin/sleep 1
ExecStart=/usr/local/bin/vna-data

[Install]
WantedBy=multi-user.target
