[Unit]
Description=connect rfswitch to session host
After=network.target relay.service
Wants=session.service

[Service]
Restart=on-failure
RestartSec=5s
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/websocat-rfswitch

[Install]
WantedBy=multi-user.target
